.Note{
    flex: 2;
}
.Note  .note-description{
    border: 1px solid black;
    display: block;
    padding: 15px;
    width : 95%;
    margin: 10px auto;
}

.Note .note-info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.Note .note-content{
    padding: 15px;
    width: 97%;
    margin: 10px auto;
}