*{
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body, html, p, div, main, section, h1, h2, h3, h4, h5, h6,
a, ul , li, form, fieldset, legend{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

.flex-box-div{
  display: flex;
}

.app-btn{
  padding: 10px 35px;
  background: white;
  border: 1px solid black;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}
.app-btn:hover,
.app-btn:focus{
  background: silver;
  cursor: pointer;
}

form input[type='text'],
form textarea,
form select{
  padding: 5px;
  color: black;
  width: 100%;
  max-width: 500px;
  font-size: 1em;
  margin: 10px 0px;
  border: 1px solid #E0e0e0;
}

form textarea{
  resize: none;
  height: 300px;
}

form input[type='text']:focus,
form textarea:focus,
form input[type='text']:hover,
form textarea:hover{
  border: 1px solid black;
}

form input[type='text']:hover,
form textarea:hover,
form select:hover{
  cursor: pointer;
}

form input[type='text']:focus,
form textarea:focus{
  cursor: text;
}
