.MainSection{
    flex: 2;
}

.MainSection ul li{
    border: 1px solid black;
    display: block;
    padding: 15px;
    width : 95%;
    margin: 10px auto;
}

.MainSection .note-info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.MainSection .delete-btn{
    margin: 0px;
}

.MainSection .add-note-btn{
    margin: 20px;
}